<input class="form-control" [(ngModel)]="serverUpdate"/>
<p>{{serverUpdate}}</p>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>Add new server</button>
<p *ngIf="serverAllowAdd">New server was created. The name is {{serverUpdate}}</p>
<app-server *ngFor="let server of servers"></app-server>
<p>Assignment: Data binding</p>
<input 
class="form-control"
[(ngModel)]="username"
/>
<p [innerText]="username"></p>
<button class="btn btn-primary" [disabled]="username == ''" (click)="onResetUsername()">Reset username</button>
<hr>
<p>Assignement : Directives</p>
<button class="btn btn-primary" (click)="onDisplayDetails()">Display Details</button>
<p *ngIf="displayDetails">Secret Password = tuna</p>
<p *ngFor="let i of numOfClicks
let indexOfElement = index;"
[ngStyle]="{backgroundColor: indexOfElement > 5 && 'blue'}" 
[ngClass]="{moreThanFive: indexOfElement > 5}">
{{indexOfElement}}
</p>