<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>App Component</h1>
            <hr>
            <div class="d-flex">
                <div class="flex-row">
                    <app-warning></app-warning>
                    <app-success></app-success>
                    <app-servers></app-servers>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Custom Bindings:</h1>
            <app-cockpit
            (serverCreated) ="onServerAdded($event)"
            (blueprintCreated) ="onBlueprintAdded($event)"
            ></app-cockpit>
            <hr>
            <app-server-element
                *ngFor="let serverElement of serverElements"
                [element]="serverElement"
            ></app-server-element>
        </div>
    </div>
</div>